{% extends 'base.html' %}
{% load static %}

{% block title %} All pages requests {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base_header.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/all_user_req_page_style.css' %}?v=1">
{% endblock %}


{% block content %}

    <div id="os">
        <div id="header">
            <span class="current">
                Страница {{ current_page.number }} из {{ current_page.paginator.num_pages }}.
            </span><br>
            <div class="pagination">

                <div class="previous">
                {% if current_page.has_previous %}
                    <a href="?page=1">&laquo; первая</a>
                    <a href="?page={{ current_page.previous_page_number }}">предыдущая</a>
                {% endif %}
                </div>

                <div class="next_page">
                {% if current_page.has_next %}
                    <a href="?page={{ current_page.next_page_number }}">следующая</a>
                    <a href="?page={{ current_page.paginator.num_pages }}">последняя &raquo;</a>
                {% endif %}
                </div>

            </div>
        </div>

        <div class="container">
            <div class="item_container">
                {% for item in current_page %}
                    <div class="page_item">
                        <a href="{% url 'detail_data_req' item.id %}">
                            <p><i>Type: {{ item.content_type }} Date create: {{ item.date_create }}</i></p>    
                            <p>{{ item.data|truncatewords:15 }}</p>
                        </a>
                    </div>
                {% empty %}
                    <p>У вас нет сохраненных данных</p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}