{% extends 'base.html' %}
{% load static %}

{% block title %} Sub documentation {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base_header.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/sub_page_style.css' %}">
{% endblock %}

{% block content %}
<div class="container">

    <div class="box">
        <div class="content">
            <h2>Level 1</h2>
            <p>Минимальная-максимальная задержка: 90 - 300 секунд.</p>
            {% if user.free_subscription_is_use is False %}
                <a href="{% url 'free_sub' %}">Получить бесплатно на 3 дня</a>
            {% endif %}
            <a href="#">Купить</a>
        </div>
    </div>

    <div class="box">
        <div class="content">
            <h2>Level 2</h2>
            <p>Минимальная-максимальная задержка: 40 - 300 секунд.</p>
            <a href="#">Купить</a>
        </div>
    </div>

    <div class="box">
        <div class="content">
            <h2>Level 3</h2>
            <p>Минимальная-максимальная задержка: 20 - 300 секунд.</p>
            <a href="#">Купить</a>
        </div>
    </div>

</div>
{% endblock %}