{% extends 'base.html' %}
{% load static %}

{% block title %} Sub documentation {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base_header.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/sub_page_style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    {% for sub in subs %}
    <div class="box">
        <span></span>
        <div class="content">
            <h2>Level {{ sub.level }}</h2>
            <p>{{ sub.description }}</p>
            {% if user.free_subscription_is_use is False %}
                <a href="{% url 'free_sub' %}">Получить бесплатно на 3 дня</a>
            {% endif %}
            <a href="#">Купить {{ sub.price }}$</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}