<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sub documentation</title>
</head>
<body>
    <h1>Level 1</h1>
    <p>Длительность запроса: 0 - 10 минут.</p>
    <p>Минимальная-максимальная задержка: 90 - 300 секунд.</p>
    <h1>Level 2</h1>
    <p>Длительность запроса: 0 - 30 минут.</p>
    <p>Минимальная-максимальная задержка: 40 - 300 секунд.</p>
    <h1>Level 3</h1>
    <p>Длительность запроса: 0 - 50 минут.</p>
    <p>Минимальная-максимальная задержка: 20 - 300 секунд.</p>

    <a href="{% url 'main' %}">Main</a>
</body>
</html>