{% extends 'base.html' %}
{% load static %}

{% block title %} {{ user.name }} Profile {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base_header.css' %}?v={{ last_modified_time }}">
    <link rel="shortcut icon" href="https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAxL3JtNjA5LXNvbGlkaWNvbi13LTAwMi1wLnBuZw.png" type="image/png">
    <style>
        body {
            max-height: 100vh;
        }
        a {
            text-decoration: none;
            color: rgb(80, 33, 66);
        }
        .container {
            margin-top: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="top-container">
                <img src="https://static.vecteezy.com/system/resources/previews/001/840/618/original/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg" class="img-fluid profile-image" width="70" alt="User IMG">
                <div class="ml-3">

                    <p class="name">Name: {{ user.name }}</p>
                    <p class="email">Email:  {{ user.email }}</p>
                    <p class="user_sub_lvl">Subscription lvl: {{ user.subscription_level }}</p>
                    <br>
                    <p><a href="{% url 'req_data' %}">Request data</a></p>
                    <p><a href="{% url 'logout' %}">Logout</a></p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}