{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    
    {% block styles %}
    {% endblock %}
    
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding-top: 80px;
            overscroll-behavior: none;
        }
        body::-webkit-scrollbar {
            display: none; /* Скрыть полосы прокрутки для веб-браузеров, использующих WebKit (Chrome, Safari) */
        }
    </style>
</head>
<body>
    <!-- header start -->
    <header class="base-header">
        <p class="header-SiteName"><a href="{% url 'main' %}">WebNeScraper</a></p>

        <div class="header-options">
            <div class="header-options_item"><a href="{% url 'buy_sub' %}">Подписка</a></div>
            <div class="header-options_item"><a href="{% url 'page_req' %}">Create request</a></div>
            {% if user.free_subscription_is_use is False %}
                <div class="header-options_item"><a href="{% url 'free_sub' %}">Бесплатная подписка</a></div>
            {% endif %}
            <div class="header-options_item"><a href="https://www.youtube.com/watch?v=QX43QTYyV-8">Spin Fish</a></div>
        </div>

        <div class="header-user-status">
            {% if user.is_authenticated %}
                <a href="{% url 'user_profile' %}">Profile</a>
            {% else %}
                <a href="{% url 'registration' %}">Registration</a>
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </header>
    <!-- header end -->


    {% block content %}{% endblock %}
</body>
</html>