{% extends 'base.html' %}
{% load static %}

{% block title %} Main {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/main_style.css' %}?v=1.1">
    <link rel="stylesheet" href="{% static 'css/base_header.css' %}?v=1.2">
{% endblock %}

{% block content %}
    <div id="main_content">
        <div id="main_right"></div>

        <div id="main_middle">
            <!-- URL -->
            <form id="url_form_block" action="" method="post">
                {% csrf_token %}
                <div class="url_block">
                    <input id="url_input" type="url" name="url" placeholder="Your URL" value="{{ uurl }}">
                </div>
                <div class="url_block">
                    <input id="take_url_button" type="submit" value="Получить">
                </div>
            </form>

            <div id="main_options">
                {% if ids or classes %}
                <button id="toggle_range">Несколько страниц</button>
                <form action="{% url 'get_elements' %}" method="post" id="id_class">
                    {% csrf_token %}

                    <div id="choises_tag">
                        <!-- ID -->
                        {% if ids %}
                        <div id="ids">
                            <h1>All ID</h1>
                            <select name="selected_id" class="selected">
                                <option value="None">None</option>
                                {% for i in ids %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% endif %}
    
                        <!-- CLASS -->
                        {% if classes %}
                        <div id="classes">
                            <h1>All CLASS</h1>
                            <select name="selected_class" class="selected">
                                <option value="None">None</option>
                                {% for c in classes %}
                                    <option value="{{ c }}">{{ c }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% endif %}
                    </div>
                    <br><br><br><br><br>
                    <!-- диапазон для парсинга нескольких страниц -->
                    <span id="range_text">range:</span>
                    <div id="range">
                        <input id="from" class="range_value" type="number" value="0" name="from">
                        <span>-</span>
                        <input id="to" class="range_value" type="number" value="0" name="to">
                        <input type="hidden" id="is_range_value" value="False" name="is_range">
                    </div>
                    <br>

                    <!-- тип контента -->
                    <label for="content_type">Выберите тип контента</label>
                    <select name="content_type" id="content_type">
                        <option value="json">Json</option>
                        <option value="txt">Text document</option>
                    </select>
                    <br>

                    <input type="hidden" name="uurl" value="{{ uurl }}">
                    <input type="submit" class="butt">
                </form>
                {% endif %}
            </div>
        </div>

        <div id="main_left"></div>

    </div>

    <script src="{% static 'js/range_toggle_button.js' %}"></script>
    <script src="{% static 'js/not_empty_button.js' %}"></script>
    
{% endblock %}