.base-header {
    background-color: rgba(26, 26, 26, 0.9);
    padding: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

.header-SiteName a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

.header-options {
    display: flex;
}

.header-options_item {
    margin-right: 20px;
}

.header-options_item a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.header-user-status a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin-right: 10px;
}